*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section{
  width: 70vw;
  background-color: blueviolet;
  box-shadow: 12px 23px 45px;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 50vw;
}
input{
  text-transform: capitalize;
  font-family: sans-serif;

}
button{
  border: none;
  padding: 12px;
  font-size: 20px;
  width: 100%;
}
label{
  color: white;
  margin-bottom: 4px;
  text-transform: capitalize;
}
h3{
  text-transform: capitalize;
  color: white;
}
@media screen and (max-width:450px) {
  
  .container{
    height: 100vh;
    overflow: hidden;
  }
}
